$strawberrymilk: rgb(255, 154, 255);

$popupBlue: #002040;
$popupBlack: black;
$backgroundGrayoutColor: #500030;
$volumeColor: #c689cc;



// z-index
$componentLowerZI: 120;
$componentMiddleZI: 150;
$componentHighZI: 170;

//$viewLowerZI: 220
$viewHighZI: 270;
